/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.header{
    background: url(../img/header.jpg) 0 0/cover no-repeat;
    height: 100vh;
    padding: 35px 0 0 0;
}
.header__nav{
    display: flex;
    max-width: 620px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.header__item, .header__item a{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #4d4959;
    transition: all .5s ease 0s;
}
.header__item:hover{
    transform: scale(1.1);
    transition: all .5s ease 0s;
}


.main{

}

.new-gen{
    background: #f7f7f7;
    padding: 120px 20px 140px 20px;
    text-align: center;
}
.new-gen__title{
    font-weight: bold;
    color: #353738;
    margin: 35px 0;
}
.new-gen__text{
    max-width: 1080px;
    margin: 0 auto;
    color: #848789;
    line-height: 34px;
}